@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    margin: 0;
    font-family: "Delius Swash Caps", cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@layer base {
    .coloredBackground {
        @apply text-white bg-primary
    }

    p {
        @apply text-lg;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-bold;
    }

    h1 {
        @apply text-2xl p-4;
    }

    h2 {
        @apply text-xl p-4;
    }

    h3 {
        @apply text-lg p-2;
    }

    form {
        label {
            @apply pr-2 font-semibold mb-1;
        }

        input {
            @apply border-2 border-primary rounded-lg p-2;
        }

        button {
            @apply bg-primary font-semibold text-white px-4 py-2 rounded hover:bg-secondary w-1/2 mt-4;
        }
    }
}
