@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    margin: 0;
    font-family: "Delius Swash Caps", cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@layer base {
    h1, h2, h3, h4, h5, h6 {
        @apply font-bold;
    }

    h1 {
        @apply text-2xl p-4;
    }

    h2 {
        @apply text-xl  text-white bg-primary p-4;
    }

    h3 {
        @apply text-lg p-2;
    }
}
